h1
{
    font-size: 50px;
    color: purple;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

h1+p
{
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: darkorchid;
    -webkit-text-stroke: 1px black;
}

#disclaimer
{
    font-size: 17px;
    margin-top: -25px;
}

input
{
    font-size: 20px;
    width: 570px;
    height: 25px;
    border-color: #bdbdbd;
    border-radius: 100px;
    border-width: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 13px;
}

#age
{
    width: 52px;
}

label
{   
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.inline-block-label
{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inline-block-label-alt
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#randomifblank
{
    width: 100px;
    margin-left: -40px;
    margin-right: -40px;
    height: 17px;
}

#random-everything
{
    width: 100px;
    margin-left: -40px;
    margin-right: -40px;
    height: 17px;
}

#yes-married
{
    width: 50px;
    height: 17px;
}

#no-married
{
    width: 50px;
    height: 17px;
}

#radio-yes
{
    color: green;
    margin-right: -20px;
}

#radio-no
{
    color: red;
    margin-left: -10px;
    margin-right: -20px;
    text-align: center;
}

#timeGetHome
{
    width: 79px;
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
}

#timeToSleep
{
    width: 79px;
    margin-left: 0px;
    font-size: 18px;
}

.pNormal
{
    font-size: 19px;
    margin-top: 0;
}

button
{
    font-size: 20px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: wheat ;
    width: 100px;
    height: 50px;
    border-color: saddlebrown;
    border-width: 1px;
    border-radius: 8px;
}

.generator-box
{
    text-align: justify;
    font-size: 20px;
    font-family: "Lucida Console", monospace;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    padding-top: 45px;
    border: 1px solid black;
    border-radius: 8px;
}

#headerFieldset
{
    width: 1160px;
    border: 1px solid black;
    padding: 1rem;
    margin: auto;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#headerFieldset>legend
{
    font-weight: bold;
    margin: 0 auto 0;
    text-align: center;
    display: block;
}

#headerFieldset>legend+p
{
    text-align: center;
}

legend
{
    font-size: 30px;
}

.paraResult
{
    font-size: 21px;
}

.paragraphFieldset
{
    width: 960px;
    border: 1px solid black;
    padding: 1rem;
    padding-left: 25px;
    padding-right: 25px;
    margin: 32px auto;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: justify;
}

.paragraphLegend 
{
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.figure-row 
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.yoshikagekiraimg
{
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

footer
{
    text-align: center;
}